<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/web-style.css' %}">
</head>
<body>
  <div class="container-fluid" style="min-height:95%">
    <div class="row">
      <div class="col-sm-2">
        <center><img src="{% static 'image/1.jpg' %}" class="responsive-img" style="max-height:150px"/></center>
      </div>
      <div class="col-sm-9">
        <center><h1 class="rainbow">Blog của Việt Anh</h1></center>
      </div>
      <div class="col-sm-1">
        {% if user.username %}
          <p class="rainbow">Xin chào {{user.username}}</p>
          <p><a href='{% url 'logout' %}'>Đăng xuất</a></p>
        {% else %}
          <p><a href='{% url 'login' %}'>Đăng nhập</a></p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="bs-sliderbar">
          <ul class="nav flex-column">  
            <center><button><strong><a href='{% url 'info' %}' style='color:white'>Thông tin</a></strong></button></center>
            <center><button><strong><a href='{% url 'contact' %}' style='color:white'>Liên hệ</a></strong></button></center>
            <center><button><strong><a href='{% url 'blog' %}' style='color:white'>Bài viết</a></strong></button></center>
            <center><button><strong><a href='{% url 'videos' %}' style='color:white'>Clips</a></strong></button></center>
          </ul>
        </div>
      </div>
      <div class="col-sm-10">
           {% block content %}

           {% endblock %}
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <a href="https://google.com">Google+</a> | <a href="https://facebook.com">Facebook</a> | <a href="https://twitter.com">Twitter</a>
    </div>
  </footer>
</body>
</html>